
@keyframes movingBackground {
  from {background-position: 0 0;} to {background-position: 100vw 50vh;}
}

html{
 background: repeating-linear-gradient(90deg, #24292e, #24292e 20px, #2b3137 20px, #2b3137 40px);
  background-size: 100% 100%;
  animation: movingBackground;
  animation-duration: 75s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

h1, h2 {
  position: relative;
  text-align: center;
  top: 50px;
}

.Container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.Container #l_arrow {
  position: absolute;
  left: 0;
  margin: 5%;
  z-index: 1;
}

.Container #r_arrow {
  position: absolute;
  right: 0;
  margin: 5%;
  z-index: 1;
}

.Images {
  display: flex;
  max-width: 1200px;
  min-width: 1200px;
  height: 400px;
  scroll-behavior: smooth;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  background-color: pink;
}

.Images::after{
  background-color: black;
  position: absolute;
  content: '';
  width: 1200px;
  height: 4px;
  margin-top: 222px;
  bottom: 30%;
}

.Images::-webkit-scrollbar {
  display: none;
}

.Images .Card {
  position: relative;
  margin:  20px 0 20px 0;
  display: flex;  
  justify-content: center;
  align-items: center;
  min-width: 100%;
  
}

.Images .Card .Img {
  max-width: 400px;
}

.Images .Card .Description {
  margin: 25px;
  min-width: 250px;
  max-width: 25%;
  text-align:inherit;
}

.Images .Card .Date{
  display: flex;
  position: absolute;
  top: 310px;
}

.Images .Card .Date img{
    position: absolute;
    width: 30px;
    padding-top: 10px;
    top: 50%;
}

.Images .Card .Date p1{
  z-index: 1;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

button {
  border-radius: 1px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}


