
@keyframes movingBackground {
  from {background-position: 0 0;} to {background-position: 100vw 50vh;}
}

@keyframes movingButton {
  from, to {transform: scale(1,1);}
  25% {transform: scale(0.9,1.1);}
  50% {transform: scale(1.1,0.9);}
  75% {transform: scale(.95,1.05);}   
}

html{
 background: repeating-linear-gradient(90deg, #24292e, #24292e 20px, #2b3137 20px, #2b3137 40px);
  animation: movingBackground;
  animation-duration: 75s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

h1, h2 {
  position: relative;
  text-align: center;
  top: 50px;
}

.Container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.Container #l_arrow {
  position: absolute;
  left: 0;
  margin: 5%;
  z-index: 1;
  width: 64px;
  height: 64px;
  background: url("src/assets/down-chevron.svg") no-repeat center center;
  rotate: 90deg;
}

.Container #r_arrow {
  position: absolute;
  right: 0;
  margin: 5%;
  z-index: 1;
  width: 64px;
  height: 64px;
  background: url("src/assets/down-chevron.svg") no-repeat center center;
  rotate: -90deg;
}

.Images {
  display: flex;
  max-width: 1200px;
  min-width: 1200px;
  height: 400px;
  scroll-behavior: smooth;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  background-color: #202128 ;
}

hr
{
  position: absolute;
  width: 1198px;
  top: 92%;
  border: 2px solid rgb(233, 228, 228);
}
/* 
.Images::after{
  background-color: rgb(233, 228, 228);
  position: absolute;
  content: '';
  width: 1200px;
  height: 4px;
  margin-top: 222px;
  bottom: 30%;
} */

.Images::-webkit-scrollbar {
  display: none;
}

.Images .Card {
  position: relative;
  margin:  20px 0 20px 0;
  display: flex;  
  justify-content: center;
  align-items: center;
  min-width: 100%;
  
}

.Images .Card .Img {
  max-width: 400px;
  max-height: 300px;
  margin-right: 60px;
  filter: drop-shadow(-10px 10px 3px #1b1a21);
}

.Images .Card .ImageContainer{
  min-width: 500px;
}

.Images .Card .Description {
  margin: 25px;
  min-width: 250px;
  max-width: 28%;
  text-align:inherit;
  padding: 15px;
  background-color: #24292e;
  border: 2px solid rgb(233, 228, 228);  
}

.Images .Card .Date{
  display: flex;
  position: absolute;
  top: 310px;
}

.Images .Card .Date img{
    position: absolute;
    width: 30px;
    padding-top: 10px;
    top: 100%;
    z-index: 1;
}

.Images .Card .Date p1{
  position: relative;
  font-weight: 500;
  z-index: 1;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 450;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

button {
  border-radius: 1px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  animation: movingButton .5s;
}


